 <div class="w-75 m-auto mt-5">
   <% posts.forEach(post => { %>
   <div class="card m-5">
     <div class="card-body">
       <h5 class="card-title"><%= post.title %></h5>
       <p class="card-text"><%= post.content %></p>
     </div>
   </div>
   <% }) %>
 </div>